<p id="notice"><%= notice %></p>

<h1>Listing Generics</h1>

<table>
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Degree Level</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Name of College/School/Branch:</th>
      <th>Academic Year/Assessment Period:</th>
      <th>Submitted By (include email address):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</th>
      <th>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</th>
      <th>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:</th>
      <th>Describe the actions and/or improvements that were implemented during the previous reporting period (provide relevant evidence):</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generics.each do |generic| %>
      <tr>
      <% if user_signed_in? %>
      <% if current_user.id == generic.user_id %>
        <td><%= generic.one %></td>
        <td><%= generic.two %></td>
        <td><%= generic.three %></td>
        <td><%= generic.four %></td>
        <td><%= generic.five %></td>
        <td><%= generic.six %></td>
        <td><%= generic.seven %></td>
        <td><%= generic.eight %></td>
        <td><%= generic.nine %></td>
        <td><%= generic.ten %></td>
        <td><%= generic.eleven %></td>
        <td><%= link_to 'Show', generic %></td>
        <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
        <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generic', new_generic_path %>
